$bodyFont: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyFontSize: 14px;
$bodyColor: #000;
$bodyBg: #fff;

/*
 colors
 */
$brandPrimary: #1e88e5;
$brandSuccess: #4caf50;
$brandInfo: #00bcd4;
$brandWarning: #ff9800;
$brandDanger: #f44336;
$brandWhite: #fff;
$brandBlack: #000;

/* music */
$musicBg: linear-gradient(0deg, rgba(247, 247, 247, 1) 23.8%, #0decfc);
$musicBoxShadow: 0 20px 20px 0 rgba(8, 182, 212, 0.822);
$musicBtn: #0decfc;
$musicBtnBig: #0cdae9;
